body{
    width: 1200px;
}


nav{
    width: 70%;
    margin: 0 auto;
    
}


nav ul {
    display: flex;
    justify-content: space-between;
padding-left: 0;
    
}

nav li{
    list-style: none;
    
    font-size: 1.1em;
   
}

nav a{
    text-decoration: none;
     color: brown;
}

li:hover{
    background-color: aquamarine;
    padding: 3px 3px;
    border-radius: 5px;
}

.audio-1, .audio-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

audio{
    margin-top: -23px;
}

video {
width: 50%;
border-radius: 10px;
margin-bottom: 10px;
}

iframe{
    border-radius: 10px;
}