.hero-container{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 25px;
    background-color: bisque;
}

.hero-container img{
    width: 100%;
    height: 300px;
    border-radius: 25px;
}

body{
    max-width: 1270px;
    background-color: aqua;
    margin: 0 auto;
}

.hero-container button{
    background-color: burlywood;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 20px;
    cursor: pointer;
}