.card-section{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

body{
    max-width: 1600px;
    background-color: aliceblue;
    margin: 0 auto;
}


.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.card {
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.281);
}

  .card-container{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
  }

  .card:hover{
    background-color: aquamarine;
}

/* .card h1 {
  font-size: 1.25em;
  font-weight: 700;
} */